.con{
    color:rgb(32, 211, 41);
    font-size:20;
    background:#f00;
    width:100Px;
    height:100px;
}
.two{
    color:#f40;
    font-size:20;
    background:rgb(32, 211, 41);
    width:100Px;
    height:100px;
}